/* second background
background: #E5E5E5; */

:root {
  --main-color: #2e2f42;
  --text-color: #434455;
  --wight-color: #ffffff;
  --hover-color: #404bbf;
  --accent-text-color: #4d5ae5;
  --active-btn-bcg-color: #404bbf;
  --normal-btn-bcg-color: #4d5ae5;
  --portfolio-btn-bcg-color: #f4f4fd;
  --section-bcg-color: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--main-color);
  background-color: var(--wight-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ------HEADER------ */

.logo .logo-link .link .list {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--accent-text-color);
}

.logo {
  color: var(--accent-text-color);
}
.nav-logo {
  color: var(--main-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-list {
  color: var(--main-color);
}

.header-link-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-link-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.nav-list:hover,
.nav-list:focus {
  color: var(--hover-color);
}
.header-link-email:hover,
.header-link-email:focus {
  color: var(--hover-color);
}
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--hover-color);
}

/* ========= HERO========== */
.hero {
  background: var(--section-bcg-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--wight-color);
}
.hero-btn {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--wight-color);
  background: var(--normal-btn-bcg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--active-btn-bcg-color);
}

/* ======Section 2 Our advantages====*/
.section {
}
.secret-name {
}
.section-list {
}
.section-item {
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ------Section 3 What are we doing======= */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.work-list {
}
.work-item {
}
.work-img {
}

/* ======Our TEAM======= */
.section-team {
  background: var(--portfolio-btn-bcg-color);
}

.team-list {
}
.team-item {
}
.team-img {
}
/* .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
} */

/* ======FOOTER=========== */
.footer {
  background: var(--main-color);
}
.footer-logo {
  color: #f4f4fd;
}
.footer-article {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* -----PORTFOLIO---- */
.secret-name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* .active {
  color: var(--wight-color);
  background: var(--active-btn-bcg-color);
  border: 1px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--wight-color);
  background: var(--active-btn-bcg-color);
  border: 1px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio {
}
.section-portfolio {
}
.secret-name {
}
.list-btn {
}
.list {
}
.item-btn {
}
.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.portfolio-list {
}
.link {
}
.portfolio-item {
}
.portfolil-link {
}
.portfolio-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--main-color);
}
.portfolio-text {
}
